.header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cardd {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 5px;
    border: 5px solid rgba(255, 255, 255, 0.125);
    border-radius: 0.25rem;
}

.card-imagee {
    height: 120px;
    border-radius: 4px;
}

.image {
    width: 100%;
    border-radius: 4px
}

.card-text {
    flex-direction: column;
    gap: 12px;
}

.card-title {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}

.card-description {
    color: rgba(84, 78, 78, 0.60);
    font-size: 14px;
    font-weight: 500;
    word-wrap: break-word;
}

.button-container-header {
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    gap: 4px;
    color: #AAB614;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    
}

.button-container-article {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
    gap: 4px;
    cursor: pointer;
    color: #AAB614;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
}
/* Par défaut, on cache les flèches */
.custom-carousel .p-carousel-prev,
.custom-carousel .p-carousel-next {
  display: none !important;
}

/* Flèches visibles pour écran ≤ 1199px */
@media (max-width: 1199px) {
  .custom-carousel .p-carousel-prev,
  .custom-carousel .p-carousel-next {
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #333;
    font-size: 18px;
  }

  .custom-carousel .p-carousel-prev { left: -5px; }
  .custom-carousel .p-carousel-next { right: -5px; }

  .custom-carousel .p-carousel-prev:hover,
  .custom-carousel .p-carousel-next:hover {
    background-color: #AAB614;
    color: white;
  }
}
