<p-panel [style]="{'width': '100%', 'height': '100%'}">
    <ng-template #header>
        <div class="col-12 flex items-center gap-2 header">
            <div class="col-6">
                <h5>Notre sélection d’articles</h5>
            </div>

            <div class="col-6 button-containerr" style="text-align: right;">
                <p>Voir tous les articles → </p>
            </div>
        </div>
    </ng-template>

    <p-carousel [value]="articles" [numVisible]="numVisibleArticles" [showNavigators]="false" [circular]="true"
        [numScroll]="3" [showIndicators]="false" autoplayInterval="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-article #item>
            <div class="card-text" style="margin: 20px;">
                <img src="{{ article.img }}" [alt]="article.title" class="w-full rounded-border" style="width: 100%;" />
                <div class="card-title mb-4">{{ article.title }}</div>
                <div class="flex justify-between items-center">
                    <div class="card-description mt-0 font-semibold text-xl">{{ article.description }}</div>
                    <div class="button-containerr">
                        <p>Voir l'article → </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</p-panel>