<p-panel [style]="{'width': '100%', 'height': '100%'}">
    <ng-template #header>
        <div class="col-12 flex items-center gap-2 header">
            <div class="col-6">
                <h5>Notre sélection d’articles</h5>
            </div>

            <a class="col-6 button-container-header" style="text-align: right;" href="https://www.geg.fr/blog/" target="_blank">
                Voir tous les articles →
            </a>
        </div>
    </ng-template>

    <p-carousel [value]="articles" [numVisible]="articleNumber" [showNavigators]="false" [circular]="false"
        [numScroll]="numScroll" [showIndicators]="false" autoplayInterval="5000"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-article #item>
            <div class="card-text" style="margin-right: 10px; margin-left: 10px;">
                <img src="{{ article.img }}" [alt]="article.title" class="w-full rounded-border"
                    style="width: 100%; margin-bottom: 10px;" />
                <div class="card-title" style="margin-bottom: 10px;">{{ article.title }}</div>
                <div class="flex justify-between items-center">
                    <div class="card-description font-semibold text-xl" style="margin-bottom: 10px;">{{
                        article.description }}</div>
                    <a class="button-container-article" [href]="article.lien" target="_blank" rel="noopener noreferrer">
                        Voir l'article →
                    </a>

                </div>
            </div>
        </ng-template>
    </p-carousel>
</p-panel>