.ic {
    display: flex;
    width: var(--Dimensions-Padding-24, 24px);
    height: var(--Dimensions-Padding-24, 24px);
    padding: 3px 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: var(--Dimensions-Padding-24, 24px);
    background: var(--Semantic-Accent, #14A3A0);
    background-size: cover; /* Adjusts the size of the background image to cover the entire div */
    background-position: center; /* Centers the background image */
  }
  .icc{
    display: flex;
    width: var(--Dimensions-Padding-24, 24px);
    height: var(--Dimensions-Padding-24, 24px);
    padding: 3px 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: var(--Dimensions-Padding-24, 24px);
    background: var(--Semantic-Accent, #00B0F0);
    background-size: cover; /* Adjusts the size of the background image to cover the entire div */
    background-position: center;
  }
