<div class="custom-container">
    <img src="/images/Icons (4).png" (click)="RetourEnBack()" alt="Icon">
</div>

<h1>{{ title }}</h1>

<div class="grid-container grid-2-1">
    <div class="grid-item mb-3">
        <p-panel>
            <form [formGroup]="form" (submit)="submitDemande()">
                <h6>Coordonnées</h6>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="firstName">Prénom</span>
                        <input type="text" pInputText formControlName="firstName" />
                        @if(firstNameForm?.invalid && (firstNameForm?.touched || firstNameForm?.dirty)){
                        <small class="error">Le prénom est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col">
                        <span class="label" for="lastName">Nom</span>
                        <input type="text" pInputText formControlName="lastName" />
                        @if(lastNameForm?.invalid && (lastNameForm?.touched || lastNameForm?.dirty)){
                        <small class="error">Le nom est obligatoire.</small>
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="email">Adresse E-mail</span>
                        <input type="text" pInputText formControlName="email" />
                        @if(emailForm?.invalid && (emailForm?.touched || emailForm?.dirty)){

                        @if(emailForm?.errors?.required){
                        <small class="error">L'email est obligatoire.</small>
                        }

                        @if(emailForm?.errors?.email){
                        <small class="error">L'email est invalide.</small>
                        }
                        }
                    </div>

                    <div class="form-group col">
                        <span class="label" for="phone">N° de téléphone</span>
                        <input type="text" pInputText formControlName="phone" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="clientRef">Référence client</span>
                        <input type="text" pInputText formControlName="clientRef" />
                        @if(refClientForm?.invalid && (refClientForm?.touched || refClientForm?.dirty)){
                        <small class="error">Le référence du client est obligatoire.</small>
                        }
                    </div>
                </div>

                @if(isReclamation) {
                <h6 class="mt-3">Adresse</h6>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="address">Adresse</span>
                        <input type="text" pInputText formControlName="address" />

                        @if(addressForm?.invalid && (addressForm?.touched || addressForm?.dirty)){
                        <small class="error">L'adresse du client est obligatoire.</small>
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="postalCode">Code Postal</span>
                        <input type="text" pInputText formControlName="postalCode" />

                        @if(postalCodeForm?.invalid && (postalCodeForm?.touched || postalCodeForm?.dirty)){
                        <small class="error">Le code postal est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col">
                        <span class="label" for="city">Ville</span>
                        <input type="text" pInputText formControlName="city" />

                        @if(cityForm?.invalid && (cityForm?.touched || cityForm?.dirty)){
                        <small class="error">La ville est obligatoire.</small>
                        }
                    </div>
                </div>

                <h6 class="mt-3">Réclamation</h6>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="reclamationMotif">Motif de ma réclamation</span>
                        <p-select formControlName="reclamationMotif" [options]="reclamationMotifs" optionLabel="name"
                            class="w-full md:w-56" />

                        @if(reclamationMotifForm?.invalid && (reclamationMotifForm?.touched ||
                        reclamationMotifForm?.dirty)){
                        <small class="error">Le motif de réclamation est obligatoire.</small>
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="message">Message</span>
                        <textarea rows="5" cols="30" pTextarea formControlName="message"></textarea>

                        @if(messageForm?.invalid && (messageForm?.touched || messageForm?.dirty)){
                        <small class="error">Le message du client est obligatoire.</small>
                        }
                    </div>
                </div>
                }



                @if(lastModificationPower ){
                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="refPCE">Ref pce</span>
                        <input type="text" pInputText formControlName="refPCE" />
                    </div>
                </div>

                <h6 class="mt-3">Puissance</h6>
                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="puissance">Puissance demandée</span>
                        <input type="text" pInputText formControlName="puissance" />

                        @if(puissanceForm?.invalid && (puissanceForm?.touched || puissanceForm?.dirty)){
                        <small class="error">La puissnace est obligatoire.</small>
                        }
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="tarif">Option tarifaire demandée</span>
                        <input type="text" pInputText formControlName="tarif" />

                        @if(tarifForm?.invalid && (tarifForm?.touched || tarifForm?.dirty)){
                        <small class="error">L'option tarifaire est obligatoire.</small>
                        }
                    </div>
                </div>
                }

                @if(isRescission){
                <h6 class="mt-3">Adresse du logement à résilier</h6>

                <div class="row mt-3">
                    <div class="form-group col-md-4">
                        <span class="label" for="rescissionStreetNumber">Numéro de voie</span>
                        <input type="text" pInputText formControlName="rescissionStreetNumber" />
                        @if(rescissionStreetNumberForm?.invalid && (rescissionStreetNumberForm?.touched ||
                        rescissionStreetNumberForm?.dirty)){
                        <small class="error">Le numéro de voie d'adresse de résiliation est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col-md-8">
                        <span class="label" for="rescissionStreet">Voie</span>
                        <input type="text" pInputText formControlName="rescissionStreet" />
                        @if(rescissionStreetForm?.invalid && (rescissionStreetForm?.touched ||
                        rescissionStreetForm?.dirty)){
                        <small class="error">La voie d'adresse de résiliation est obligatoire.</small>
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="rescissionPostalCode">Code postal</span>
                        <input type="text" pInputText formControlName="rescissionPostalCode" />
                        @if(rescissionPostalCodeForm?.invalid && (rescissionPostalCodeForm?.touched ||
                        rescissionPostalCodeForm?.dirty)){
                        <small class="error">Le code postal d'adresse de résiliation est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col">
                        <span class="label" for="rescissionCity">Ville</span>
                        <input type="text" pInputText formControlName="rescissionCity" />
                        @if(rescissionCityForm?.invalid && (rescissionCityForm?.touched || rescissionCityForm?.dirty)){
                        <small class="error">La ville d'adresse de résiliation est obligatoire.</small>
                        }
                    </div>
                </div>

                <h6 class="mt-3">Adresse d’envoi de la facture de résiliation</h6>
                <div class="row mt-3">
                    <div class="form-group col-sm-4">
                        <span class="label" for="rescissionInvoiceStreetNumber">Numéro de voie</span>
                        <input type="text" pInputText formControlName="rescissionInvoiceStreetNumber" />
                        @if(rescissionInvoiceStreetNumberForm?.invalid && (rescissionInvoiceStreetNumberForm?.touched ||
                        rescissionInvoiceStreetNumberForm?.dirty)){
                        <small class="error">Le numéro de voie d'adresse de résiliation est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col-sm-8">
                        <span class="label" for="rescissionInvoiceStreet">Voie</span>
                        <input type="text" pInputText formControlName="rescissionInvoiceStreet" />
                        @if(rescissionInvoiceStreetForm?.invalid && (rescissionInvoiceStreetForm?.touched ||
                        rescissionInvoiceStreetForm?.dirty)){
                        <small class="error">La voie d'adresse de facturation est obligatoire.</small>
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="rescissionInvoicePostalCode">Code postal</span>
                        <input type="text" pInputText formControlName="rescissionInvoicePostalCode" />
                        @if(rescissionInvoicePostalCodeForm?.invalid && (rescissionInvoicePostalCodeForm?.touched ||
                        rescissionInvoicePostalCodeForm?.dirty)){
                        <small class="error">Le code postal d'adresse de facturation est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col">
                        <span class="label" for="rescissionInvoiceCity">Ville</span>
                        <input type="text" pInputText formControlName="rescissionInvoiceCity" />
                        @if(rescissionInvoiceCityForm?.invalid && (rescissionInvoiceCityForm?.touched ||
                        rescissionInvoiceCityForm?.dirty)){
                        <small class="error">La ville d'adresse de facturation est obligatoire.</small>
                        }
                    </div>
                </div>

                <h6 class="mt-3">Résiliation</h6>
                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="rescissionDepartureDate">Date de départ</span>
                        <p-datepicker formControlName="rescissionDepartureDate" [appendTo]="'body'" [style]="{'width':'100%'}"/>
                        @if(rescissionDepartureDateForm?.invalid && (rescissionDepartureDateForm?.touched ||
                        rescissionDepartureDateForm?.dirty)){
                        <small class="error">La date de départ est obligatoire.</small>
                        }
                    </div>

                    <div class="form-group col">
                        <span class="label" for="rescissionContract">Contrat à résilier</span>
                        <input type="text" pInputText formControlName="rescissionContract" />
                        @if(rescissionContractForm?.invalid && (rescissionContractForm?.touched ||
                        rescissionContractForm?.dirty)){
                        <small class="error">Le contrat à résilier est obligatoire.</small>
                        }
                    </div>
                </div>

                <h6 class="mt-3">Si mon compteur est à l’intérieur du logement</h6>

                <div class="row mt-3">
                    <div class="form-group col">
                        <span class="label" for="hpReading">Relevé d’électricité Heures Pleines</span>
                        <input type="text" pInputText formControlName="hpReading" />
                    </div>

                    <div class="form-group col">
                        <span class="label" for="hcReading">Relevé d’électricité Heures Creuses</span>
                        <input type="text" pInputText formControlName="hcReading" />
                    </div>

                    <div class="form-group col">
                        <span class="label" for="gazReading">Relevé Gaz</span>
                        <input type="text" pInputText formControlName="gazReading" />
                    </div>
                </div>
                }

                @if(isRelocation){
                <h6 class="mt-3">Adresse</h6>

                 
                    <div class="row mt-3">
                        <div class="form-group col">
                            <span class="label" for="adresseDeLogement">Adresse du logement à résilier</span>
                            <input type="text" pInputText formControlName="relocationadresseDeLogement" />
    
                            @if(adresseDeLogementForm?.invalid && (adresseDeLogementForm?.touched || adresseDeLogementForm?.dirty)){
                            <small class="error">L'adresse de logement est obligatoire.</small>
                            }
                        </div>
                        <div class="form-group col">
                            <span class="label" for="contrat">Sélection du contrat</span>
                            <p-select [options]="cities"  optionLabel="name" formControlName="relocationContrat" class="w-full md:w-56" />

                            @if(contratForm?.invalid && (contratForm?.touched || contratForm?.dirty)){
                                <small class="error">Le contrat est obligatoire.</small>
                                }
                        </div>
                    
                    </div>

                    <div class="row mt-3">
                        <div class="form-group col">
                            <span class="label" for="adresseFacture">Adresse d’envoie de la facture de résiliation</span>
                            <input type="text" pInputText formControlName="relocationadresseFacture" />
    
                            @if(adresseFactureForm?.invalid && (adresseFactureForm?.touched || adresseFactureForm?.dirty)){
                            <small class="error">L'adresse d'envoie de la facture est obligatoire.</small>
                            }
                        </div>

                    </div>
                   
                }

                <div class="row mt-3">
                    <p-button label="Envoyer la demande" type="submit" [disabled]="!form.valid"></p-button>
                </div>
            </form>
        </p-panel>
    </div>


    <div class="grid-item mb-3">
        <div class="right-container">
            <div class="content-box">
                <div class="itemm">
                    <div class="inner-box">
                        <img src="/images/Rectangle 1477 (11).png" alt="Image">
                        <div class="text">
                            <div class="title">Vous déménagez ?</div>
                            <div class="subtitle">Nous vous simplifions les démarches de déménagement</div>
                            <div class="button-section">
                                <div class="button-text">En savoir plus</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                    fill="none">
                                    <path d="M5 10.7858H15M15 10.7858L10.8333 6.61914M15 10.7858L10.8333 14.9525"
                                        stroke="#8E9D25" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="itemm">
                    <div class="inner-box">
                        <img src="/images/Rectangle 1477 (2).png" alt="Image">
                        <div class="text">
                            <div class="title">Des questions ?</div>
                            <div class="subtitle">Consultez la FAQ</div>
                            <div class="button-section">
                                <div class="button-text">Voir</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                    fill="none">
                                    <path d="M5 10.7858H15M15 10.7858L10.8333 6.61914M15 10.7858L10.8333 14.9525"
                                        stroke="#8E9D25" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="itemm">
                    <div class="inner-box">
                        <img src="/images/Rectangle 1477 (3).png" alt="Image">
                        <div class="text">
                            <div class="title">Service client</div>
                            <div class="subtitle">Contactez-nous au 04 76 84 38 83 <br> ou</div>
                            <div class="button-section">
                                <div class="button-text">Contactez via formulaire</div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21"
                                    fill="none">
                                    <path d="M5 10.7858H15M15 10.7858L10.8333 6.61914M15 10.7858L10.8333 14.9525"
                                        stroke="#8E9D25" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>