<p-panel>
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>Historique de ma consommation</h5>
        </div>
    </ng-template>

    <div class="row">
        <div class="col-md-6 mb-3">
            <p-selectbutton [options]="chartOptions" [(ngModel)]="selectedChartOptionsValue" [multiple]="false"
                optionLabel="name" optionValue="value" (onOptionClick)="onOptionClick($event)"/>
        </div>

        <div class="col-md-6 mb-3 gap-2" style="text-align: right; display: flex;">
            <span>Affichage</span>
            &nbsp;
            <p-selectbutton [options]="unityOptions" [(ngModel)]="selectUnityValue" [multiple]="false"
                optionLabel="name" optionValue="value" />
            &nbsp;
            <p-select [options]="typeDataChart" [(ngModel)]="selectedTypeDataChart" optionLabel="name"
                placeholder="Sélectionnez" class="w-full md:w-56" />
        </div>

        @switch (selectedChartOptionsValue) {
        @case (1) {
        <app-consumption-activation />

        }
        @case (2) {
        <app-consumption-activation [byHours]="false" />
        }
        @default {

        <div class="col-12">
            @if(!consumptions || consumptions.length === 0){

                <div class="info-box-center">
                    <div style="align-items: center; gap: 16px; padding-top: 30px; padding-bottom: 30px;">            
                        <i class="pi pi-info-circle mb-3" style="font-size: 2.5rem"></i>
                        <p class="info-1">Les données de consommation sont temporairement indisponibles.</p>
                        <p class="info-2">Veuillez réessayer plus tard !</p>
                    </div>
                </div>

            } @else {

                @if(chartData) {
                <p-chart type="bar" [data]="chartData" [options]="options" class="h-[30rem]" />
                <p class="col-md-12 consumption-info">
                    <span class="info-icon">i</span>
                    Les données disponibles dans le graphique pouvent être estimées, réelles ou recalculées. Estimations en
                    euros TTC sans la part abonnement. Elles sont fondées sur une consommation estimée. Cette indication
                    n'est pas constractuelle.
                </p>
            }

            }

        </div>
        }
        }
    </div>
</p-panel>