<p-panel>
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>Historique de ma consommation</h5>
        </div>
    </ng-template>

    <div class="row">
        <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
        <p class="col-md-12 consumption-info">
            <span class="info-icon">i</span>
            Les données disponibles dans le graphique pouvent être estimées, réelles ou recalculées. Estimations en
            euros TTC sans la part abonnement. Elles sont fondées sur une consommation estimée. Cette indication n'est
            pas constractuelle.
        </p>
    </div>
</p-panel>