<p-panel>
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>Historique de ma consommation</h5>
        </div>
    </ng-template>

    <div class="grid-container grid-2">
        <div class="grid-item-white mb-3">
            <p-selectbutton [options]="chartOptions" [(ngModel)]="selectedChartOptionsValue" [multiple]="false"
                optionLabel="name" optionValue="value" (onOptionClick)="onOptionClick($event)" />
            &nbsp;
            <p-datepicker [(ngModel)]="dateConsumption" view="year" dateFormat="yy" showIcon [appendTo]="'body'" />
        </div>

        <!-- TODO : A décommenter quand on a les données nécessaire pour affichier les conso en euro  -->
        @if(false){
        <div class="grid-item-white mb-3 gap-2" style="display: flex; justify-content: end;">
            <span>Affichage</span>
            &nbsp;
            <p-selectbutton [options]="unityOptions" [(ngModel)]="selectUnityValue" [multiple]="false"
                optionLabel="name" optionValue="value" />
            &nbsp;
            <p-select [options]="typeDataChart" [(ngModel)]="selectedTypeDataChart" optionLabel="name"
                placeholder="Sélectionnez" class="w-full md:w-56" [appendTo]="'body'" />
        </div>
        }
    </div>

    @switch (selectedChartOptionsValue) {
    @case (1) {
    <app-consumption-activation />

    }
    @case (2) {
    <app-consumption-activation [byHours]="false" />
    }
    @default {

    <div>
        @if(!consumptions || consumptions.length === 0){

        <div class="info-box-center">
            <div style="align-items: center; gap: 16px; padding-top: 30px; padding-bottom: 30px;">
                <i class="pi pi-info-circle mb-3" style="font-size: 2.5rem"></i>
                <p class="info-1">Les données de consommation sont temporairement indisponibles.</p>
                <p class="info-2">Veuillez réessayer plus tard !</p>
            </div>
        </div>

        } @else {

        @if(chartData) {
        <div class="grid-container grid-1">
            <div class="grid-item-white" style="display: flex; justify-content: space-between; ">
                <label>KWh</label>

                <!-- TODO : A décommenter lorsqu'on aura le graph de données meteos -->
                @if(false){
                <label style="justify-content:end;">Temp. °C</label>
                }
            </div>
        </div>


        <p-chart type="bar" [data]="chartData" [options]="options" class="h-[30rem]" />
        <p class="consumption-info">
            <span class="info-icon">i</span>
            Les données disponibles dans le graphique pouvent être estimées, réelles ou recalculées. Estimations en
            euros TTC sans la part abonnement. Elles sont fondées sur une consommation estimée. Cette indication
            n'est pas constractuelle.
        </p>
        }

        }

    </div>
    }
    }
</p-panel>