.box {
  width: auto;
  height: 100%;
  padding: 16px;
  background-size: cover;
  gap: 30px;
  border:none !important;
  align-items: normal !important;
}
.box-header {
  gap: 8px;
  background-color: white;
  width: 85px;
}
.box-status {
  color: #3A3A3A;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}
.box-price {
  color: #E2F133;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}
.box-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.box-service {
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}
.box-title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.60px;
  word-wrap: break-word;
}



