<h1>FAQ</h1>
<p>Ci-dessous, nos questions-réponses les plus fréquentes</p>

<div class="grid-container grid-2-1">
    <div class="grid-item mb-3">

        <p-accordion [value]="0" expandIcon="pi pi-angle-down" collapseIcon="pi pi-angle-up">
            @for (faq of faqs; track faq.question) {
            <p-accordion-panel [value]="faq.question" [style]="{'margin-bottom':'20px'}">
                <p-accordion-header>{{ faq.question }}</p-accordion-header>
                <p-accordion-content>
                    <div class="answer-text" [innerHTML]="faq.answer"></div>
                </p-accordion-content>
            </p-accordion-panel>
            }
        </p-accordion>
    </div>

    <div class="grid-item mb-3">
        <app-requests-highlight />
    </div>
</div>