p {
  color: var(--Fundamental-Grey-70, rgba(84, 78, 78, 0.70));
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 22px */
  letter-spacing: -0.22px;
}