@if(!comsuptionHeadline) {
<p-panel [style]="{'width': '100%', 'height': '100%'}">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>A la une</h5>
        </div>
    </ng-template>

    <div class="row">
        <img src="/images/photo a la une.jpg">
        <div class="icon-service">
            <div class="icon-frame">Service</div>
            <div class="text-frame">Esprit tranquille avec le contrat<br> Assistance Dépannage</div>
            <div class="iconn" (click)="navigateToService()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</p-panel>
}

@if(comsuptionHeadline) {
<p-panel [style]="{'width': '100%', 'height': '100%'}">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>A la une</h5>
        </div>
    </ng-template>

    <div class="row">
        <img style="width: 100%;height: 100%;margin-top: 10px;" src="/images/eco-geste copy.jpg">
        <div class="icon-service">
            <div class="icon-frame">Eco-geste</div>
            <div class="text-frame">Guide de maîtrise d’énergie ! <br>Chaque geste compte !</div>
            <div class="iconn" (click)="navigateToService()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke="#1E1E1E" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>
    </div>
</p-panel>
}