.tittle {
  color: #3A3A3A;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.22px;
}

.card {
  padding: 20px;
  gap: 24px;
}

.button-containerr {
  color: #AAB614;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  cursor: pointer;
}