.tittle{
    color: var(--Black, #3A3A3A);
  /* Desktop/H3 */
  font-family: Figtree;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 22px */
  letter-spacing: -0.22px;
  }

  .card{
    padding: 20px;
        gap: 24px;
      }