<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <div class="logo-container">
      <a class="logo" href="#" (click)="navigateHome()" style="padding-right: 20px;">
        <img src="/images/geg-logo.png" alt="Logo GEG" class="logo-img">
      </a>
    </div>
  </ng-template>

  <ng-template #item let-item>
    @if(item.label === 'Je déménage'){

    <a pripple class="p-menubar-item-link" [routerLink]="item.routerLink">
      <app-demining-icon />
      <span class="p-menubar-item-label" style="margin-left: 8px;">{{item.label}}</span>
    </a>

    } @else if(item.label === 'Aide et contact'){

    <a pripple class="p-menubar-item-link">
      <app-help-contact-icon />
      <span [class]="item.icon"></span>
      <span class="p-menubar-item-label" style="margin-left: 8px;">{{item.label}}</span>
      <span class="pi pi-angle-down"></span>
    </a>


    } @else {

    <a pripple class="p-menubar-item-link" [routerLink]="item.routerLink" routerLinkActive="active">
      <span [class]="item.icon"></span>
      <span class="p-menubar-item-label" data-pc-section="label">{{ item.label }}</span>
    </a>
    }

  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex items-center gap-2" style="text-align: right;">
      <p-splitbutton class="disable-main-button" icon="fa-regular fa-user fa-xl" [model]="profilItems" text
        severity="secondary" />
      &nbsp;
      <i class="fa-regular fa-bell fa-xl"></i>
    </div>
  </ng-template>

</p-menubar>