<p-menubar [model]="items" class="text-font" [style]="{'padding-left': '50px','padding-right': '50px', 'border-radius': '0px'}">
  <ng-template pTemplate="start">
    <div class="logo-container">
      <a class="logo" href="#" (click)="navigateHome()" style="padding-right: 20px;">
        <img src="/images/geg-logo.png" alt="Logo GEG" class="logo-img">
      </a>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex items-center gap-2">
      <p-button label="Je déménage" variant="text" severity="secondary">
        <app-demining-icon />
      </p-button>
      &nbsp;
      <app-help-contact-icon />

      <p-splitbutton label="Aide et contact" [model]="aideContactItems" text severity="secondary">
      </p-splitbutton>
      &nbsp;
      <p-splitbutton class="disable-main-button" icon="fa-regular fa-user fa-xl" [model]="profilItems" text
        severity="secondary" />
      &nbsp;
      <i class="fa-regular fa-bell fa-xl"></i>
    </div>
  </ng-template>
</p-menubar>
