<h1>Documents</h1>

<div class="row">
    <div class="col-md-12 mb-3">
        <p-tabs value="0">

            <p-tablist>
                <p-tab value="0">Contrats</p-tab>
                <p-tab value="1">Justificatifs</p-tab>
                <p-tab value="2">Certificats</p-tab>
                <p-tab value="3">Mandats</p-tab>
            </p-tablist>

            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-documents-contracts [contracts]="allContracts" />
                </p-tabpanel>

                <p-tabpanel value="1">
                    <app-documents-justificatifs [allContracts]="allContracts" [currentUser]="currentUser()" [contracts]="contracts()" />
                </p-tabpanel>

                <p-tabpanel value="2">
                </p-tabpanel>

                <p-tabpanel value="3">
                    <app-documents-mandats [mandates]="mandates" [currentUser]="currentUser()" />
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>
    </div>
</div>