<div>
  <h3>Consommation</h3>

  <div class="row">
    <div class="col-12 mb-3">
      <app-active-contract />
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-3">
      <app-consumption-chart [consumptions]="consumptions()" />
    </div>

    <!-- <div class="col-12 mb-3">
      <div class="consumption-container">
        <div class="chart-controls">
          <button (click)="setTimeScale('hour')" [ngClass]="{'active-icon': currentTimeScale === 'hour'}">Heure</button>
          <button (click)="setTimeScale('day')" [ngClass]="{'active-icon': currentTimeScale === 'day'}">Jour</button>
          <button (click)="setTimeScale('month')"
            [ngClass]="{'active-icon': currentTimeScale === 'month'}">Mois</button>
          <button (click)="setTimeScale('year')" [ngClass]="{'active-icon': currentTimeScale === 'year'}">Année</button>
          <div class="spacer"></div>
          <p>Affichage</p>
          <button (click)="setUnit('kWh')" [ngClass]="{'active-icon': currentUnit === 'kWh'}">kWh</button>
          <button (click)="setUnit('euro')" [ngClass]="{'active-icon': currentUnit === 'euro'}">€</button>
          <div class="dropdown">
            <div class="dropdown-toggle" (click)="toggleDropdown($event)">
              <div class="meteo-info">
                <img src="/images/Icon-left.png" alt="Icon Left">
                <div class="meteo-text">Données météo</div>
                <img src="/images/Icon-Dropdown.png" alt="Icon Dropdown">
              </div>
            </div>
            <div class="dropdown-content" [ngClass]="{'show': isDropdownOpen}">
              <div class="dropdown-item">Données météo</div>
              <div class="dropdown-item">Période précédente</div>
              <div class="dropdown-item">Evénements</div>
            </div>
          </div>
        </div>
        <h1>Historique de ma consommation</h1>
        <canvas id="radarChart"></canvas>
        <p class="legend-text" *ngIf="currentUnit === 'kWh'">
          Les données disponibles dans le graphique peuvent être estimées, réelles ou recalculées. Estimations en euros
          TTC
          sans la<br> part abonnement. Elles sont fondées sur une consommation estimée. Cette indication n’est pas
          contractuelle.
        </p>
        <p class="legend-text"
          *ngIf="currentUnit === 'euro' && (currentTimeScale === 'month' || currentTimeScale === 'year')">
          Estimations en euros TTC sans la part abonnement. Elles sont fondées sur une consommation estimée. Cette
          indication n’est pas contractuelle.
        </p>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col-md-3 mb3">
      <app-headline [comsuptionHeadline]="true" />
    </div>

    <div class="col-md-9 mb3">
      <app-articles [consumption]="true" [numVisibleArticles]="4" />
    </div>
  </div>
</div>