<div>
  <h3>Consommation</h3>

  <div class="grid-container grid-1 mb-3">
    <div class="grid-item">
      <app-active-contract />
    </div>
  </div>

  <div class="grid-container grid-1 mb-3">
    <div class="grid-item">
      <app-consumption-chart [consumptions]="consumptions()" />
    </div>
  </div>

  <div class="grid-container grid-1-3">
    <div class="grid-item">
      <app-headline [isConsumptionPage]="true" />
    </div>

    <div class="grid-item">
      <app-articles [articleNumber]="4" [screen]="'consumption'" />
    </div>
  </div>
</div>