<div class="main-container">
    <app-nav-bar />


    <div class="main-content">
        <!-- <app-loading-spinner /> -->
        @if (!haveContract && currentRoute === '/profile' || currentRoute ==='/requests/frequently-asked-questions' || currentRoute==='/logout') {

        <router-outlet />

        } @else {

        <div class="info-box-center">
            <div style="align-items: center; gap: 16px; padding-top: 30px; padding-bottom: 30px;">
                <i class="pi pi-info-circle mb-3" style="font-size: 2.5rem;"></i>
                <p class="info-1">Pas de contrats associés à votre compte.</p>
            </div>
        </div>
    }
    </div>
    <app-footer />
</div>