html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    background-color: #f0f0f0;
    padding: 30px 49px 50px;
}

/* Classes utilitaires pour le responsive */
@media (max-width: 768px) {
    .main-content {
        padding: 30px 10px 10px;
    }
}