
/* When the checkbox is checked, move the slider to the right */
input:checked+.slider {
  background-color: #AAB614;
}

/* When the checkbox is checked, move the circle inside the slider */
input:checked+.slider::before {
  transform: translateX(20px);
}

