<h1>Mon profil</h1>

<div class="row">
    <div class="col-md-8 mb-3">
        <p-tabs value="0">

            <p-tablist>
                <p-tab value="0">Profils</p-tab>
                <p-tab value="1">Mes logements</p-tab>
                <!-- <p-tab value="2">Mes préférences</p-tab> -->
            </p-tablist>

            <p-tabpanels>
                <p-tabpanel value="0">
                    <app-profile-details [profil]="profil" />
                </p-tabpanel>

                <p-tabpanel value="1">
                    <app-mes-logements [profil]="profil"></app-mes-logements>
                </p-tabpanel>

                <p-tabpanel value="2">
                    <app-mes-preferences></app-mes-preferences>
                </p-tabpanel>

            </p-tabpanels>
        </p-tabs>
    </div>
    
    <div class="col-md-4 mb-3" style="margin-top: 100px;">
        <app-profile-highlight-profil />
    </div>
</div>