<div class="footer">
  <span class="footer-content">
    <img [src]="logo" alt="Logo" class="logo-img">
    <span class="footer-note">L'énergie est notre avenir, économisons-la !</span>
  </span>
  <span class="social-media">
    <span class="follow-text">Nous suivre</span>
    <a href="#"><img src="/images/logo_instagram.png" alt="Instagram" (click)="goToLink('instagram')"></a>
    <a href="#"><img src="/images/logo_youtube.png" alt="Youtube" (click)="goToLink('youtube')"></a>
    <a href="#"><img src="/images/logo_linkedin.png" alt="LinkedIn" (click)="goToLink('linkedin')"></a>
    <a href="#"><img src="/images/logo_facebook.png" alt="Facebook" (click)="goToLink('facebook')"></a>
  </span>
</div>