<div class="grid-container-white grid-1" style="text-align: center; height: 270px;">
    <p>Veuillez saisir les données de votre compte bancaire</p>

    <form [formGroup]="form" (submit)="submitNewRib()">
        <div class="grid-item-white mb-3">
            <input class="mb-3" type="text" pInputText formControlName="iban" style="width: 80%;" placeholder="IBAN">
            @if(ibanForm?.invalid && (ibanForm?.touched || ibanForm?.dirty)){
            <br>
            @if(ibanForm?.errors?.required){
            <small class="error">L'Iban est obligatoire!</small>
            }

            @if(ibanForm?.errors?.iban){
            <small class="error">L'Iban est invalide!</small>
            }
            }
        </div>

        <div class="grid-item-white mb-3">
            <input type="text" pInputText formControlName="titular" style="width: 80%;"
                placeholder="Titulaire du compte bancaire">
            @if(titularForm?.invalid && (titularForm?.touched || titularForm?.dirty)){
            <br>
            @if(titularForm?.errors?.required){
            <small class="error">Le titulaire du compte est obligatoire!</small>
            }
            }
        </div>

        <div class="grid-item-white mb-3">
            <p-button label="Annuler" severity="help" (click)="onCancelClick.emit()"></p-button>
            &nbsp;
            <p-button type="submit" label="Valider" class="p-button-primary"></p-button>
        </div>
    </form>
</div>