<div class="row" style="text-align: center; margin: 40px;">
    <div class="col-12 mb-3">
        Afin d'avoir accès à vos données quotidiennes de consommation dans votre espace client, vous devez autoriser le
        distributeur de gaz à transmettre à GEG vos données de consommation pour le contrat sélectionné.
    </div>

    <div class="col-12 mb-3">
        ces données sont stockées 3 ans. A tout moment, vous avez la possibilité de retirer votre autorisation dans la
        rubrique "Mes préférences" de votre espace client.
    </div>

    <div class="info-box mb-3" style="text-align: left;">
        <p>Si vous activez cette option gratuite, vos données quotidiennes seront disponibles sur votre espace client dans quelques jours</p>
    </div>

    <div class="col-12 mb-3">
        <p-button label="Annuler" severity="contrast" />

        &nbsp;
        <p-button label="Activer" />
    </div>
</div>