<div class="row" style="text-align: center;">
    <div class="col-12 mb-3">
        Afin d'avoir accès à vos données quotidiennes de consommation dans votre espace client, vous devez autoriser le
        distributeur de gaz à transmettre à GEG vos données de consommation pour le contrat sélectionné.
    </div>

    <div class="col-12 mb-3">
        ces données sont stockées 3 ans. A tout moment, vous avez la possibilité de retirer votre autorisation dans la
        rubrique "Mes préférences" de votre espace client.
    </div>

    <div class="info-box mb-5" style="text-align: left;">
        <p>Si vous activez cette option gratuite, vos données quotidiennes seront disponibles sur votre espace client
            dans quelques jours</p>
    </div>

    <div class="col-12 mb-3" style="text-align: left; display: flex; gap: 10px;">
        <p-checkbox [(ngModel)]="authorizationChecked" [binary]="true" />
        <label class="ml-2">J'autorise le distributeur de ma zone à transmettre à GEG mes données de consommation pour
            visualiser mes données à la maille quotidienne</label>
    </div>

    <div class="col-12 mb-3">
        <p-button label="Annuler" severity="help" (click)="onCloseActivationDialog.emit()"/>

        &nbsp;
        <p-button [disabled]="!authorizationChecked" label="Activer" (click)="activeConsumption()"/>
    </div>
</div>