<div class="custom-container">
    <img src="/images/Icons (4).png" (click)="RetourEnBack()" alt="Icon">
</div>

<div class="grid-container grid-2-1" *ngIf="box">
    <div class="grid-item mb-3">

        <p-panel>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="box" [ngStyle]="{'background-image': 'url(' + box.backgroundImage + ')'}">
                        @if (box.status === 'souscrit'){
                        <div class="box-header d-flex align-items-center">
                            <img [src]="box.icon" alt="Icon">
                            <div class="box-status">{{ box.status }}</div>
                        </div>
                        }
                        <br>
                        <div class="box-price">{{ box.price }}</div>
                        <div class="box-details">
                            <div class="box-service">{{ box.service }}</div>

                            <div class="box-title" [innerHTML]="box.title"></div>

                            <div class="row mt-3">
                                <ng-container *ngIf="box?.status === 'souscrit'; else subscribeBtn">
                                    <p-button label="Résilier" icon="pi pi-pencil" iconPos="right" severity="danger"
                                        (click)="goToForm('recission', box.id)">
                                    </p-button>
                                </ng-container>

                                <ng-template #subscribeBtn>
                                    <p-button label="Souscrire" icon="pi pi-arrow-right" iconPos="right" severity="success"
                                        (click)="goToForm('subscribe', box.id)">
                                    </p-button>
                                </ng-template>
                            </div>


                        </div>
                    </div>
                    <br>
                    @for (document of documents ; track document.title) {
                    <p-card class="download">
                        <div class="d-flex flex-wrap align-items-center">

                            <div class="flex-grow-1">
                                <div class="document-title">{{ document.title }}</div>
                            </div>

                            <a [href]="document.link" download>
                                <p-button class="icon-download ms-2" icon="pi pi-download" iconPos="right">
                                </p-button>
                            </a>
                        </div>
                    </p-card>
                      <br>
                    }
                </div>
                <div class="col-12 col-md-6 col-lg-8">
                    <p-card class="no-border-card">
                        @for (option of assistanceDepannage; track option.subtitle) {
                        <div class="section mb-3">
                            <h2>L’Assistance Dépannage GEG</h2>
                            <div class="subtitle1">{{option.subtitle}}</div>
                            <div class="description" [innerHTML]="option.highlights"></div>
                        </div>
                        @for (section of option.sections; track section.id) {
                        <div class="d-flex align-items-center mb-3">
                            <div class="circle me-2">{{ section.id }}</div>
                            <div [innerHTML]="section.title"></div>
                        </div>
                        <div class="ms-6 ms-md-4 mb-3" [innerHTML]="section.content"></div>
                        }
                        }
                    </p-card>
                </div>
            </div>
        </p-panel>
    </div>

    <div class="grid-item mb-3">
        <app-requests-highlight />
    </div>
</div>