<div class="row m-3">
    <div class="col-md-6 mb-4">
        <p-panel header="Identité" [style]="{'width': '100%', 'height': '100%'}">
            <div class="col-md-12">
                <label class="detail-label">Prénom, nom</label>
                <p class="detail-value">{{ user?.firstname }} {{ user?.lastname }} </p>
            </div>

            <div class="col-md-12">
                <label class="detail-label">Date de naissance</label>
                <p class="detail-value">22/05/1980</p>
            </div>
        </p-panel>
    </div>

    <div class="col-md-6 mb-4">
        <p-panel header="Adresse" [style]="{'width': '100%', 'height': '100%'}">
            <div class="row">
                <div class="col-md-6">
                    <label class="detail-label">N</label>
                    <p class="detail-value">{{profil?.HouseNumber}}</p>
                </div>

                <div class="col-md-6">
                    <label class="detail-label">Rue, voie,
                        etc
                    </label>
                    <p class="detail-value">{{ profil?.StreetName }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="detail-label">Code postal</label>
                    <p class="detail-value">{{ profil?.PostalCode }}</p>
                </div>

                <div class="col-md-6">
                    <label class="detail-label">Ville</label>
                    <p class="detail-value">{{profil?.CityName}}</p>
                </div>
            </div>
        </p-panel>
    </div>
    <div class="col-md-12 mb-4">
        <p-panel>
            <ng-template #header>
                <div class="flex items-center gap-2" style="display: flex;">
                    <span class="p-panel-title">Contact</span>
                    <div class="modify-button" (click)="toggleEdit()">
                        <div class="modify-text">Modifier</div>
                        <img src="/images/edit-2.png" alt="Edit Icon" />
                    </div>
                </div>
            </ng-template>

            <div class="col-md-12">
                <label class="detail-label">Adresse e-mail</label>

                @if(!isEditMode){
                <p class="detail-value">{{ email }}</p>
                }

                @if(isEditMode){
                <div>
                    <input type="email" [(ngModel)]="email" />
                </div>
                }
            </div>

            <div class="col-md-12">
                <label class="detail-label">N de téléphone</label>

                @if(!isEditMode){
                <p class="detail-value">{{ phone }}</p>
                }

                @if(isEditMode){
                <div>
                    <input type="tel" [(ngModel)]="phone" />
                </div>
                }
            </div>

            <div class="contact-actions">
                @if(isEditMode){
                <div class="col-12 mb-3">
                    <p-button label="Annuler" severity="help" (click)="saveEdit()" />

                    &nbsp;
                    <p-button label="Enregistrer" (click)="saveEdit()" />
                </div>
                }
            </div>
        </p-panel>
    </div>

    <div class="col-md-12 mb-4">
        <p-panel header="Donner accès à votre espace">
            <p class="description">
                Vous souhaitez donner accès à votre espace client ? <br>Cliquez sur
                "Créer l'accès" pour définir le partage d'accès.
            </p>

            @if(contactsWithAccess.length > 0){
            <div class="contacts-with-access">
                <div class="contacts-with-access">
                    <div class="list-header">Liste de contacts avec un accès</div>
                    <div *ngFor="let contact of contactsWithAccess">
                        {{ contact }}
                    </div>
                </div>
            </div>
            }
            <div class="create-access" (click)="showAccessdialog()">Créer l’accès +</div>

        </p-panel>
    </div>
</div>

@if(accessdialogVisible){
<p-dialog header="Gérer l'accès pour un co-titulaire" [modal]="true" [(visible)]="accessdialogVisible"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="false">

    <app-profile-access-dialog [contracts]="contracts" [accessDetails]="accessDetails"
        (onCloseAccessDialog)="closeAccessDialog()" />
</p-dialog>
}