@if(carouselData.length > 0){
<p-card class="no-header" [style]="{'width': '100%', 'height': '100%', 'background-color': '#FF6C00'}">
    <p-carousel [value]="carouselData" [showNavigators]="false" [numVisible]="1" [numScroll]="1" [circular]="true"
        [showIndicators]="true" autoplayInterval="3000"
        [style]="{'width': '100%', 'height': '100%', 'margin': '0', 'padding': '0'}">
        <ng-template let-carousel #item>
            <div class="relative mx-auto w-full rounded-border" [style.background-image]="'url(' + carousel.img + ')'"
                [style.background-size]="'cover'" [style.background-position]="'center'"
                [style.background-repeat]="'no-repeat'" [style.height]="'200px'">
            </div>

            <div class="carousel-text-content">
                @if(carousel.title === "Relevez vos index"){
                <div class="carousel-icon-container carousel-icon-relevez-vos-index"> </div>
                }

                @if(carousel.title === "Chèque énergie"){
                <div class="carousel-icon-container carousel-icon-cheque-energie"> </div>
                }

                @if(carousel.title === "Un projet d'économies d'énergie ?"){
                <div class="carousel-icon-container carousel-icon-projet-economies-energie"> </div>
                }

                <div class="carousel-text-title">{{ carousel.title }}</div>
                <div class="carousel-text-subtitle">
                    <div>{{ carousel.subtitle }}</div>
                </div>
                <p-button label="{{ carousel.action }}" severity="info" icon="fa fa-solid fa-arrow-right"
                    iconPos="right" (click)="goToLink(carousel)" />
            </div>
        </ng-template>
    </p-carousel>
</p-card>
}