<div class="carousel-container">
    <p-carousel [value]="carouselData" [numVisible]="1" [numScroll]="1" [circular]="true"
        [showNavigators]="false" [showIndicators]="true" [responsiveOptions]="responsiveOptions"
        autoplayInterval="3000">
        
        <ng-template let-carousel #item>
            <img src="{{ carousel.img }}" [alt]="carousel.title" class="w-full rounded-border" />
            <div class="carousel-text-content">
                <div class="carousel-text-title">{{ carousel.title }}</div>
                <div class="carousel-text-subtitle">
                    <div>{{ carousel.subtitle }}</div>
                </div>
                <p-button label="{{ carousel.action }}" severity="info" icon="fa fa-solid fa-arrow-right"
                    iconPos="right"/>
            </div>
        </ng-template>
    </p-carousel>
</div>
