::ng-deep .p-datatable thead tr th {
    background-color: transparent !important;
}
::ng-deep .p-datatable-tbody  tr {
    background-color: transparent !important;
}
::ng-deep .p-datatable-tbody > tr > td {
    border-style: none !important;
  }
  
::ng-deep .p-datatable-table {
    background-color: #fefde9;
  }
  
.label {
    color: #878686;
     font-size: 11px;
     font-family: Figtree;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 0.44px;
     word-wrap: break-word
   }

   .value {
    color: #544e4e;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .tittle{
    color: var(--Black, #3A3A3A);
  /* Desktop/H3 */
  font-family: Figtree;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 22px */
  letter-spacing: -0.22px;
  }
  
  .pi-bolt:before {
    border-radius: 24px;
    color: aliceblue;
    background: var(--Dataviz-01, #0DB58D);
    display: flex;
    width: 24px;
    height: 24px;
    padding: 3px 4px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}