::ng-deep .p-datatable thead tr th {
    background-color: transparent !important;
}
::ng-deep .p-datatable-tbody  tr {
    background-color: transparent !important;
}
::ng-deep .p-datatable-tbody > tr > td {
    border-style: none !important;
  }
  
::ng-deep .p-datatable-table {
    background-color: #fefde9;
  }
  
.label {
    color: #878686;
     font-size: 11px;
     font-family: Figtree;
     font-weight: 600;
     text-transform: uppercase;
     letter-spacing: 0.44px;
     word-wrap: break-word
   }

   .value {
    color: #544e4e;
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .tittle{
    color: var(--Black, #3A3A3A);
  /* Desktop/H3 */
  font-family: Figtree;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 22px */
  letter-spacing: -0.22px;
  }
  .border-green {
    border-left: 1px solid #D4E22C; /* Vert Bootstrap */
}

::ng-deep .bg-light {
  --bs-bg-opacity: 1;
  background-color:#fefde9 !important;
}