.box {
  width: auto;
  height: auto;
  padding: 16px;
  background-size: cover;
  gap: 30px;
  border: none !important;
  align-items: normal !important;
}

.box-header {
  gap: 8px;
  background-color: white;
  width: 85px;
}

.box-status {
  color: #3A3A3A;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.box-price {
  color: #E2F133;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}

.box-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box-service {
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.box-title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.60px;
  word-wrap: break-word;
}

.custom-container {
  width: 30px;
  height: 100%;
  padding: 5px 3px;
  background: white;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}
::ng-deep .no-border-card .p-card,
::ng-deep .no-border-card .p-card-body {
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.subtitle1 {
  align-self: stretch;
  color: var(--Fundamental-Grey-80, rgba(84, 78, 78, 0.80));
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  }
    .circle {
    width: 24px;
    height: 24px;
    background: #E9EE7B;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A511F;
    font-size: 11px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
  }
  .footer-box {
    align-self: stretch;
    padding: 16px;
    background: #FAFAD1;
    border-radius: 4px;
    color: #4A511F;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 19.5px;
    word-wrap: break-word;
  }