<div class="grid-container grid-1">
    <h3>Bonjour {{ currentUser()?.firstname }},</h3>
    <p>Bienvenue dans votre espace client</p>
</div>

<div class="grid-container grid-1 mb-3">
    <div class="grid-item">
        <app-active-contract />
    </div>
</div>

<div class="grid-container grid-5-2-2 mb-3">
    <div class="grid-item">
        <app-home-consumption [consumptions]="consumptions()" [lastInvoice]="lastInvoice()" />
    </div>
    
    <div class="grid-item">
        <app-home-documents [lastInvoice]="lastInvoice()" [selectedContract]="selectedContract()"
            [currentUser]="currentUser()" />
    </div>

    <div class="grid-item">
        <app-home-carousel />
    </div>
</div>

<div class="grid-container grid-2-4">
    <div class="grid-item">
        <app-headline [isConsumptionPage]="false" />
    </div>

    <div class="grid-item">
        <app-articles/>
    </div>
</div>