<div class="grid-container grid-1">
    <h1>Bonjour {{ currentUser()?.firstname }},</h1>
    <p style="font-size: 18px; font-weight: 500;">Bienvenue dans votre espace client</p>
</div>

<div class="grid-container grid-1 mb-3">
    <div class="grid-item">
        <app-active-contract />
    </div>
</div>

<div class="grid-container grid-5-4 mb-3">
    <div class="grid-item">
        <app-home-consumption [contractDetails]="selectedContractsDetails" [consumptions]="consumptions()"
            [invoices]="invoices()"></app-home-consumption> />
    </div>

    <div class="grid-item">
        <div class="grid-container grid-2-home mb-3" style="height: 100%; width: 100%;">
            <div class="grid-item">
                <app-home-documents [lastInvoice]="lastInvoice()" [selectedContract]="selectedContract()"
                    [currentUser]="currentUser()" />
            </div>

            <div class="grid-item">
                <app-home-carousel />
            </div>
        </div>
    </div>
</div>

<div class="grid-container grid-2-4">
    <div class="grid-item">
        <app-headline [isConsumptionPage]="false" />
    </div>

    <div class="grid-item">
        <app-articles />
    </div>
</div>