<div class="grid-container grid-1">
    <h3>Bonjour {{ currentUser()?.firstname }},</h3>
    <p>Bienvenue dans votre espace client</p>
</div>

<div class="grid-container grid-1 mb-3">
    <div class="grid-item">
        <app-active-contract />
    </div>
</div>
@if (contractPartner.length > 0) {
    @for (contract of contractPartner; track contract.LogicalKey) {
      <div class="contract-item">
        <p><strong>LogicalKey :</strong> {{ contract.LogicalKey }}</p>
        <p><strong>BusinessPartner :</strong> {{ contract.BusinessPartner }}</p>
        <p><strong>Type :</strong> {{ contract.partnertype }}</p>
        <p><strong>Contract Account :</strong> {{ contract.ContractAccount }}</p>
        <p><strong>Contrat CRM :</strong> {{ contract.ContratCRM }}</p>
        <p><strong>Contract ISU :</strong> {{ contract.ContractISU }}</p>
        <p><strong>Title :</strong> {{ contract.Title }}</p>
      </div>
    }
  } @else {
    <p>Aucun contrat trouvé.</p>
  }
  
<div class="grid-container grid-2-1-1 mb-3">
    <div class="grid-item">
        <app-home-consumption [consumptions]="consumptions()" [lastInvoice]="lastInvoice()" />
    </div>
    <div class="grid-item">
        <app-home-documents [lastInvoice]="lastInvoice()" [selectedContract]="selectedContract"
            [currentUser]="currentUser()" />
    </div>

    <div class="grid-item">
        <app-home-carousel />
    </div>
</div>

<div class="grid-container grid-1-3">
    <div class="grid-item">
        <app-headline [isConsumptionPage]="false" />
    </div>

    <div class="grid-item">
        <app-articles />
    </div>
</div>

<!-- <div>
    <h3>Bonjour {{ currentUser()?.firstname }},</h3>
    <p>Bienvenue dans votre espace client</p>

    <div class="row">
        <div class="col-12 mb-3">
            <app-active-contract />
        </div>
    </div>

    @defer (when consumptions()?.length || lastInvoice();){

    <div class="row">
        <div class="col-md-7 mb-3">
            <app-home-consumption [consumptions]="consumptions()" [lastInvoice]="lastInvoice()" />
        </div>

        <div class="col-md-3 mb-3">
            <app-home-documents [lastInvoice]="lastInvoice()" />
        </div>

        <div class="col-md-2 mb-3">
            <app-home-carousel />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 mb-3">
            <app-headline [isConsumptionPage]="false" />
        </div>

        <div class="col-md-9 mb-3">
            <app-articles />
        </div>
    </div>
}

    @placeholder {
    <app-loading-spinner [showSpinner]=true />
    }
</div> -->