.p-dialog .p-dialog-close-button {
    background: #D4E22C !important;
    color: black !important;
    border-radius: 4% !important;
    position: absolute !important;
    right: 1rem !important;
    top: 0.5rem !important;
  }
  
  .p-dialog .p-button-icon-only.p-button-rounded {
    width: 30px !important;
    height: 30px !important;
  }