
//Table
.p-datatable{
    width: 100%;
    border-bottom: 1px rgba(84, 78, 78, 0.50);
  }
  
  .p-datatable-thead tr, .p-datatable-tbody tr {
    border-bottom: 1px rgba(84, 78, 78, 0.20);
  }
  .p-datatable-header{
    border: none !important;
  }
  .p-datatable-thead tr th {
    border-bottom:1px Black !important;
    color:rgba(84, 78, 78, 0.70) !important;
  }
  
  