::ng-deep .pi-arrow-right:before {
    color: #BED600 !important;
    font-size: 15px !important;
}

::ng-deep .cgv-card:hover .p-card .pi {
    background-color: #BED600 !important;
    border-radius: 4px !important;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-left: auto;
}

::ng-deep .cgv-card:hover .pi-arrow-right:before {
    color: #3A3A3A !important;
}