/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/grid";


// Text




.consumption-info .info-icon {
  background-color: white; /* Fond blanc */
  border: 1px solid #0a0a0a; /* Bordure 1px solide avec couleur pistache */
  border-radius: 5px; /* Coins arrondis */
  width: 15px; /* Taille de l'icône */
  height: 15px; /* Taille de l'icône */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Espace à droite de l'icône */
  font-size: 12px;
}

// Menu
.p-menubar-item:not(.p-disabled)>.p-menubar-item-content:hover {
  background-color: transparent !important;
}

.p-menubar-item-link-active {
  background-color: transparent !important;
  color: black;
  font-weight: 600;
  font-size: 17px;
  border-bottom: 3px solid var(--Primary-600, #AAB614);
}

.profile {
  display: inline-flex;
  align-self: stretch;
  height: 48px;
  padding: 0 8px;
  background: #FAFAD1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

}

// select tag
.dropdown-arrow {
  border-radius: 100px;
  background: var(--Primary-500, #D4E22C);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

//background: #E9EE7B;