.p-accordionheader {
  color: #1E1E1E !important;
  font-size: 16px !important;
  font-family: "Figtree", sans-serif !important;
  font-weight: 600 !important;
  line-height: 21.6px !important;
  word-wrap: break-word !important;
  padding: 20px !important;
  border-radius: 4px !important;
}

.p-accordioncontent{
  border-radius: 4px !important;
}

.answer-text {
  color: rgb(84 78 78 / 61%) !important;
  font-family: Arial !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 25px !important;
}