//Button
.p-button {
  background: #D4E22C !important;
  color: black !important;
  font-weight: var(--p-button-label-font-weight) !important;
  border: none !important;
  margin-top: 10px !important;
}

.p-button-icon-only {
  background: none !important;
  color: #D4E22C !important;
}

.p-button-secondary {
  background: transparent !important;
  color: rgba(84, 78, 78, 0.70) !important;
}

.p-button-help {
  background: transparent !important;
  color: rgba(84, 78, 78, 0.70) !important;
  border: 1px solid #D4E22C !important;
}

.p-button-info {
  background: #e5e7eb !important;
  border: 1px solid #e5e7eb !important;
}

.p-selectbutton p-togglebutton .p-togglebutton {
  background-color: transparent !important;
}

.p-selectbutton p-togglebutton .p-togglebutton.p-togglebutton-checked {
  background-color: #D4E22C !important;
}

.p-togglebutton.p-togglebutton-checked::before {
  background-color: #D4E22C !important;
  box-shadow: none !important;
}

