.p-dialog {
  padding-top: 50px !important;
}

.p-dialog .p-dialog-close-button {
  background: $primary-color !important;
  color: black !important;
  border-radius: 4% !important;
  position: absolute !important;
  right: 1rem !important;
  top: 0.5rem !important;
}

.p-dialog .p-button-icon-only.p-button-rounded {
  width: 30px !important;
  height: 30px !important;
}

.p-dialog-title {
  color: #3A3A3A;
  font-size: 32px !important;
  font-weight: 600 !important;
  text-align: center !important;
  word-wrap: break-word;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 600 !important;
}

.p-dialog-header-actions {
  justify-content: flex-end !important;
}

.p-dialog-header {
  flex-direction: column-reverse !important;
}