.form-group {
    flex: 1 !important;
    margin-right: 10px !important;
}

.label {
    font-size: 11px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: rgba(84, 78, 78, 0.60) !important;
    letter-spacing: 0.44px !important;
}