.form-group {
    flex: 1 !important;
    margin-right: 10px !important;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.label {
    font-size: 11px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: rgba(84, 78, 78, 0.60) !important;
    letter-spacing: 0.44px !important;
}

.p-select:not(.p-disabled).p-focus {
    border-color: $primary-color !important;
}

.p-select-option::after {
    border-bottom: 1px solid $primary-color;
}

.p-select-option-selected {
    background: #FAFAD1 !important;
}

.p-checkbox-checked .p-checkbox-box {
    border-color: $primary-color !important;
    background: $primary-color !important;
}

.error {
    color: red;
}

.p-inputtext:focus {
    border-color: $primary-color !important;
}

.p-datepicker-today>.p-datepicker-day-selected {
    background: $primary-color !important;
}

.p-datepicker-day-selected {
    background: $primary-color !important;
}

.p-datepicker-day-selected-range {
    background: #FAFAD1 !important;
}