/* Classe de base pour la grille */
.grid-container {
  display: grid;
  width: 100%;
  gap: 16px;
  /* Espacement par défaut */
}

/* Classes utilitaires pour les colonnes */
.grid-1 {
  grid-template-columns: 1fr;
  /* Une seule colonne */
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
  /* Deux colonnes égales */
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  /* Trois colonnes égales */
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  /* Trois colonnes égales */
}

.grid-2-1 {
  grid-template-columns: 2fr 1fr;
  /* Deux colonnes : 2/3 et 1/3 */
}

.grid-3-1 {
  grid-template-columns: 3fr 1fr;
  /* Deux colonnes : 3/4 et 1/4 */
}

.grid-1-3 {
  grid-template-columns: 1fr 3fr;
  /* Deux colonnes : 1/4 et 3/4 */
}

.grid-2-4 {
  grid-template-columns: 2fr 4fr;
  /* Deux colonnes : 2/6 et 4/6 */
}

.grid-1-4 {
  grid-template-columns: 1fr 4fr;
  /* Deux colonnes : 1/5 et 4/5 */
}

.grid-5-2-2 {
  grid-template-columns: 5fr 2fr 2fr;
  /* Trois colonnes : 5/9, 2/9, 2/9 */
}

.grid-4-1 {
  grid-template-columns: 4fr 1fr;
  /* Trois colonnes : 3/6, 2/6, 1/6 */
}

/* Styles pour les éléments de la grille */
.grid-item {
  background-color: #f0f0f0;
  overflow: hidden;
  /* Empêche le contenu de déborder */
}

.grid-item-white {
  background-color: #ffffff;
  overflow: hidden;
  /* Empêche le contenu de déborder */
}

.grid-item-transparent {
  background-color: transparent;
  overflow: hidden;
  /* Empêche le contenu de déborder */
  gap: 6px !important;
}

.grid-item-no-overflow {
  background-color: transparent;
  gap: 6px !important;
}

/* Gestion des images */
.grid-item img {
  max-width: 100%;
  /* Limite la largeur de l'image à celle de la colonne */
  height: auto;
  /* Garde le ratio de l'image */
}

@media (min-width: 700px) and (max-width: 1200px) {
  .grid-5-2-2 {
    grid-template-columns: 1fr;
    /* Une seule colonne pour la première ligne */
  }

  .grid-5-2-2> :first-child {
    grid-column: 1 / -1;
    /* Occupe toute la première ligne */
  }

  .grid-5-2-2 {
    grid-template-columns: repeat(2, 2fr 1fr);
    /* Deux colonnes pour la deuxième ligne */
  }

  .grid-5-2-2> :nth-child(2),
  .grid-5-2-2> :nth-child(3) {
    grid-column: auto;
    /* Permet aux éléments de s'aligner sur les colonnes */
  }

  .grid-5-2-2> :nth-child(2) {
    justify-self: start;
    /* Alignement optionnel */
  }

  .grid-5-2-2> :nth-child(3) {
    justify-self: end;
    /* Alignement optionnel */
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {

  .grid-2,
  .grid-3,
  .grid-4,
  .grid-2-1,
  .grid-1-3,
  .grid-2-4,
  .grid-4-1 {
    grid-template-columns: 1fr !important;
    /* Une seule colonne sur tablette et mobile */
  }
}

@media (max-width: 700px) {
  .grid-5-2-2 {
    grid-template-columns: 1fr;
    /* Une seule colonne sur tablette et mobile */
  }
}