.p-menubar-item:not(.p-disabled)>.p-menubar-item-content:hover {
    background-color: transparent !important;
}

.p-menubar-item-link.active {
    background-color: transparent !important;
    color: black !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    border-bottom: 3px solid #AAB614 !important;
}

.p-menubar-item .p-focus {
    background-color: transparent !important;
}

.p-menubar {
    justify-content: space-between !important;
    width: 100% !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    border-radius: 0px !important;
    border: none !important;
}

.right-menu-item {
    margin-left: auto !important;
    /* Pousse les éléments à droite */
}

.p-menubar-separator {
    flex-grow: 1 !important;
    /* Occupe tout l'espace disponible */
}

.p-menubar-item-label {
    color: rgba(84, 78, 78, 0.70);
    font-size: 16px;
    font-family: Figtree;
    font-weight: 500;
    line-height: 19px;
    word-wrap: break-word;
}

p-menubarsub {
    width: 80% !important;
}

.p-tieredmenu-overlay {
    margin-left: -90px !important;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.disable-main-button .p-splitbutton-defaultbutton {
    pointer-events: none;
    /* Empêche les clics sur le bouton principal */
    opacity: 0.6;
    /* Change l'apparence pour refléter un état désactivé */
    cursor: not-allowed;
    /* Modifie le curseur pour refléter l'état désactivé */
}


@media (max-width: 1000px) {
    .p-menubar {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    p-menubarsub {
        width: 0%;
    }

    .p-menubar-end {
        margin-right: 10px !important;
    }

    .p-tieredmenu-mobile {
        position: absolute !important;
    }

    .p-tieredmenu-overlay {
        margin-left: -100px !important;
    }
}