//Table
.p-datatable {
  width: 100%;
  border-bottom: 1px rgba(84, 78, 78, 0.50);
}

.p-datatable-thead tr,
.p-datatable-tbody tr {
  border-bottom: 1px rgba(84, 78, 78, 0.20);
}

.p-datatable-header {
  border: none !important;
}

.p-datatable-thead tr th {
  border-bottom: 1px Black !important;
  color: rgba(84, 78, 78, 0.70) !important;
  font-size: 12px;
}

.p-paginator-page.p-paginator-page-selected {
  background: #D4E22C !important;
  color: #1E1E1E !important;
  border-radius: 6px !important;
}

.p-paginator-next {
  border-radius: 6px !important;
  border: 1px solid var(--Brand-Primary-600, #AAB614) !important;
  background: var(--Brand-Primary-50, #FEFDE9) !important;
  gap: 16px !important;
}

.p-paginator-prev {
  border-radius: 6px !important;
  border: 1px solid var(--Brand-Primary-600, #AAB614) !important;
  background: var(--Brand-Primary-50, #FEFDE9) !important;
  gap: 16px !important;
}

@media (max-width: 1000px) {

  /* Afficher chaque ligne comme une grille */
  .p-datatable tbody tr {
    padding: 10px !important;
    border: 1px solid #f0f0f0 !important;
  }

  /* Afficher chaque cellule comme un bloc avec une étiquette */
  .p-datatable tbody td {
    justify-content: normal !important;
    padding: 8px !important;
    border-bottom: none !important;
  }

  .responsive-row {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  .responsive-row td:first-child {
    flex: 0 !important;
    width: auto !important;
    min-width: auto !important;
  }

  .responsive-row td:nth-child(2) {
    flex: 1 !important;
    min-width: 50% !important;
  }

  .responsive-row td:nth-child(3),
  .responsive-row td:nth-child(4){
    flex: 1 !important;
    min-width: 50% !important;
  }

  .responsive-row td:nth-child(4) {
    justify-content: flex-end !important;
    text-align: right !important;
  }
}