//Table
.p-datatable {
  width: 100%;
  border-bottom: 1px rgba(84, 78, 78, 0.50);
}

.p-datatable-thead tr,
.p-datatable-tbody tr {
  border-bottom: 1px rgba(84, 78, 78, 0.20);
}

.p-datatable-header {
  border: none !important;
}

.p-datatable-thead tr th {
  border-bottom: 1px Black !important;
  color: rgba(84, 78, 78, 0.70) !important;
}

.p-paginator-page.p-paginator-page-selected {
  background: #D4E22C !important;
  color: #1E1E1E !important;
  border-radius: 6px !important;
}

.p-paginator-next {
  border-radius: 6px !important;
  border: 1px solid var(--Brand-Primary-600, #AAB614) !important;
  background: var(--Brand-Primary-50, #FEFDE9) !important;
  gap: 16px !important;
}

.p-paginator-prev {
  border-radius: 6px !important;
  border: 1px solid var(--Brand-Primary-600, #AAB614) !important;
  background: var(--Brand-Primary-50, #FEFDE9) !important;
  gap: 16px !important;
}