// .home-chart {
//     box-sizing: border-box;
//     display: block;
//     height: 200px;
//     /* width: 350px; */
//     /* max-width: 200px; */
//     display: block;
// }
// ::ng-deep .home-chart canvas {
//   width: 150px !important;
//   height: 175px !important;
//   max-width: 150px !important;
//   box-sizing: border-box;
//   display: block;
//   font-size: 50px !important;
// }
