<p-panel [style]="{'width': '100%', 'height': '100%'}">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>Ma consommation</h5>
        </div>
    </ng-template>

    <div class="grid-container grid-5-4">
        <div class="grid-item" style="background-color: #ffffff;">
            <p style="font-size: 11px; color: rgba(84, 78, 78, 0.70);">SUR LES 4 DERNIERS MOIS</p>

            @if(basicData && basicOptions){
            <p-chart class="home-chart" type="bar" [data]="basicData" [options]="basicOptions" />
            <p class="consumption-info">
                <span class="info-icon">i</span>
                Consommation en kWh à partir des données disponibles, réelles, recalculées, estimées.
            </p>
            } @else {
            <div class="info-box-center">
                <div style="align-items: center; gap: 16px; padding-top: 30px; padding-bottom: 30px;">
                    <i class="pi pi-info-circle mb-3" style="font-size: 2.5rem;"></i>
                    <p class="info-1">Les données de consommation sont temporairement indisponibles.</p>
                </div>
            </div>
            }

        </div>

        <div class="grid-item" style="background-color: #ffffff;">
            <p style="font-size: 11px; color: rgba(84, 78, 78, 0.70);">CE QUE JE DOIS</p>
            <br>
            <div class="payment">
                <div class="payment-box">
                    <div class="payment-icon"></div>

                    @if(lastUnpaidInvoice){

                    <p>{{ lastUnpaidInvoice.TotalUnpaidTTC }} <span style="font-size: 18px;">€</span></p>

                    <h2 style="font-size: 14px; color: rgba(84, 78, 78, 0.70);">
                        @if(isPaymentMethodP){
                        Prochain prélèvement {{ lastUnpaidInvoice!.NetDueDate | timeSpanToDate:'short' }}
                        } @else {
                        A payer avant {{ paymentTermDate | date:'dd/MM/yyyy' }}
                        }
                    </h2>

                    } @else {

                    <p>0.00 <span style="font-size: 18px;">€</span></p>

                    <h2 style="font-size: 14px; color: rgba(84, 78, 78, 0.70);">
                        @if(invoices.length > 0){
                        Facture soldée
                        }
                    </h2>
                    }
                </div>
            </div>

            <br>
            <!-- @if(previousUmpayedinvoices > 0) {
            <div class="col-md-12 mb-3" style="color: #FF6C00;">
                <img class="invoice-icon" src="/images/Icons (5).png" alt="Icone">
                {{previousUmpayedinvoices}} facture(s) non soldée(s).
            </div>
            } -->

            <p class="col-md-12 consumption-info">
                <i class="fa-regular fa-calendar"></i>
                &nbsp;
                {{ paymentModeLabel }}
            </p>
        </div>
    </div>

    <ng-template #footer>
        <p-button label="Voir en détails" (click)="navigateToConsumption()" iconPos="right" icon="pi pi-arrow-right" />
    </ng-template>
</p-panel>