<p-panel [style]="{'width': '100%', 'height': '100%'}">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <h5>Ma consommation</h5>
        </div>
    </ng-template>

    <div class="row">
        <div class="col">
            <p>SUR LES 4 DERNIERS MOIS</p>

            @if(basicData && basicOptions){
            <p-chart class="home-chart" type="bar" [data]="basicData" [options]="basicOptions" />
            <p class="col-md-12 consumption-info">
                <span class="info-icon">i</span>
                Consommation en kWh à partir des données disponibles, réelles, <br> recalculées,
                estimées.
            </p>
            } @else{
                <div class="info-box-center">
                    <div style="align-items: center; gap: 16px; padding-top: 30px; padding-bottom: 30px;">            
            
                        <p>Les données de consommation sont temporairement indisponibles.</p>
                    </div>
                </div>
            }

        </div>

        <div class="col">
            <p>CE QUE JE DOIS</p>
            <br>
            <div class="col-md-12 payment">
                @if(lastInvoice){
                <div class="payment-box">
                    <div class="payment-icon"></div>
                    <p>{{ lastInvoice?.TotalAmount }} €</p>
                    <h2>Prochain prélèvement {{ lastInvoice!.PostingDate | timeSpanToDate:'short' }}</h2>
                </div>
            }
            </div>
            <br>
            <br>
            <p class="col-md-12 consumption-info">
                <i class="fa-regular fa-calendar"></i>
                &nbsp;
                Paiement par prélèvement mensuel.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p-button label="Voir en détails" (click)="navigateToConsumption()" iconPos="right"
                icon="pi pi-arrow-right" />
        </div>
    </div>
</p-panel>