:host {
    display: block;
    background-color: #f0f0f0;
    padding: 20px; /* Ajoute un peu de marge intérieure */
    // height: 100vh;
  }

.tittle{
  color: var(--Black, #3A3A3A);
/* Desktop/H3 */
font-family: Figtree;
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 22px */
letter-spacing: -0.22px;
}
.card{
  display: flex !important;
}



.prelev{
color: var(--Black, #3A3A3A);
font-family: Figtree;
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.44px;
text-transform: uppercase;
opacity: 0.6;
}




  .container1 {
       width: 100%;
      height: 100%;
      padding: 24px;
      background: white;
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
      border-radius: 4px;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 24px;
      margin-bottom: 24px;
    }

    
    .header {
      display: inline-flex;
      justify-content: flex-start;
      align-items: baseline;
      gap: 16px;
    }
    
    
    .edit-section {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
    }
  
    .edit-text {
      color: #8e9d25;
      font-size: 16px;
      font-family: Figtree;
      font-weight: 600;
      word-wrap: break-word;
    }
    
    .edit-icon {
      width: 20px;
      height: 20px;
      padding: 2px 2px 1.62px 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

  .address-box {
    align-self: stretch;
    height: 112px;
    padding: 16px 12px;
    border: 1px solid rgba(84, 78, 78, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
  }
  
  
  
  .address-title {
    color: #3a3a3a;
    font-size: 18px;
    font-family: Figtree;
    font-weight: 600;
    line-height: 21.60px;
    word-wrap: break-word;
  }
  
  .address-details {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
  
  .action-icon {
    width: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .box-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
  }
  
  .box {
    width: 304px;
    height: 201px;
    padding: 16px;
    background: url('/images/photo\ a\ la\ une.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    overflow: hidden;
    align-items: normal !important;
  }
  
  .box-header {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    background-color: white;
    width: 85px;
  }
  
  .box-icon {
    width: 16px;
    height: 16px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .box-icon-inner {
    width: 12px;
    height: 9.63px;
    background: #1E1E1E;
  }
  
  .box-status {
    color: #3A3A3A;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    word-wrap: break-word;
  }
  
  .box-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 92.5px;
  }
  
  .box-price {
    color: #E2F133;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .box-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 35px;
  }
  
  .box-service {
    color: white;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    word-wrap: break-word;
  }
  
  .box-title {
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.60px;
    word-wrap: break-word;
  }
  
  .box-badge {
    border-radius: 4px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -90px;
  }
  
  .box-badge-icon {
    width: 24px;
    height: 24px;
    background: #D4E22C;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
