<p-toast />

<div class="custom-container">
    <img src="/images/Icons (4).png" (click)="RetourEnBack()" alt="Icon">
</div>

<h1>Détails contrat</h1>
<div>
    <app-documents-contract-header [contractDetails]="contractDetails" [contract]="contract" />
</div>

<div>
    <app-documents-contract-payment [contractDetails]="contractDetails" [mandates]="mandates"
        (ribUpdated)="submitBankChange($event)" (billingDayChanged)="updateBillingDay($event)" />
</div>
&nbsp;
<div>
    <app-documents-contract-invoice [contract]="contract" (addressUpdated)="onAddressUpdated($event)" />
</div>
&nbsp;
<div>
    <app-documents-contract-document [contract]="contract"/>
</div>
&nbsp;
<div>
    <app-documents-contract-service />
</div>