<div class="custom-container">
    <img src="/images/Icons (4).png" (click)="RetourEnBack()" alt="Icon">
</div>

<h1>Détails contrat</h1>
<div>
    <app-documents-contract-header  [contractDetails]="contractDetails" [contract]="contract"  />
</div>

<div>
    <app-documents-contract-payment [mandates]="mandates"/>
</div>
&nbsp;
<div>
    <app-documents-contract-invoice  [contract]="contract"/>
</div>
&nbsp;
<div>
    <app-documents-contract-document/>
</div>
&nbsp;
<div>
    <app-documents-contract-service/>
</div>







