.circle {
    display: flex;
    width: var(--Dimensions-Padding-24, 24px);
    height: var(--Dimensions-Padding-24, 24px);
    padding: 3px 4px; 
    justify-content: center;
    align-items: center;
    gap: 4px; 
    border-radius: var(--Dimensions-Padding-24, 24px);
    background: var(--Brand-Energy-type-Electricity-background, #FF6C00);
}
::ng-deep .p-button-label
 {
    color: #1E1E1E !important;
    font-size: 16px;
    font-family: "Rubik", sans-serif !important;
    font-weight: 600 !important;
    word-wrap: break-word;
}
.contract-cell {
    color: var(--Fundamental-Grey-70, rgba(84, 78, 78, 0.70));
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.status {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
  
  .status-success {
    color: #fff;
    // padding: 8px 10px;
    background: #64DAE4;
    border-radius: 8px;
    border-radius: 4px;
  }
  
  .status-warning {
    background: #E9EE7B;
  }
  
@media (max-width: 1000px) {
    .p-datatable-tbody > tr > td {
        justify-content: normal !important;
        display: block;
        width: 100%;
    }

    .details-cell {
        margin-top: 8px;
    }
}
.link-details {
    color: #8E9D25 !important; /* vert */
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .p-datatable-tbody > tr > td {
    gap: 8px;
  }

  /* Conteneur du spinner de chargement */
.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;          /* espace entre l’icône et le texte */
  padding: 2rem;
  font-size: 1.2rem;
  color: #555;
}

/* Animation supplémentaire sur l’icône si nécessaire */
.loading-container .pi-spinner {
  animation: spin 1s linear infinite;
}

/* Message “aucune demande” */
.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.1rem;
  color: #777;
  background-color: #FEFDE9;
  border: 1px ;
  border-radius: 0.25rem;
}

/* Icone info plus visible */
.empty-message .pi-info-circle {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

/* Optionnel : un conteneur global pour espacer le tableau */
.table-wrapper {
  margin: 1rem auto;
  max-width: 800px;
}

/* Style basique pour le p-table (PrimeNG) */
.table-wrapper ::ng-deep .p-datatable-tbody > tr > td {
  padding: 0.75rem 1rem;
}

